<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Encyption & Decryption">
    <test name="Test1">
        <classes>
            <class name="tests.EncDecTest"></class>
            <!-- Put more tests classes here if you have any-->
        </classes>
    </test><!-- Test -->
</suite><!-- Test -->